.slide-container{
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 600px;

}
.slide-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.current-img{
    height: 100%;
    width: 100px;
    border-radius: .5rem;
    border-radius: 0 0 7px #666;
}
.arrow{
    position: absolute;
    height: 2rem;
    width: 2rem ;
    color: #FFF;
    filter: drop-shadow(0 0 5px #555);
}
.arrow-left{
    left: 1rem;
}
.arrow-right{
    right: 1rem;
}
.circle-indicator{
    position: absolute;
    bottom: 1rem;
    display: flex;
    
   
}
.current-indicator{
    border: none;
    border-radius: 50%;
    margin: 0 0.2rem;
    width: 10px;
    height: 10px;
    cursor: pointer;
    outline: none;
}
.hide-current-image{
    display: none;

}
.inactive-indicator{
    background-color: gray;

}
