.load-more-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.product{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}